<ion-view>
	<ion-nav-title>
        {{mainbuttontitle}}
    </ion-nav-title>
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-android-arrow-back nav-icon" ng-click="backtextlistpage()"></button>
    </ion-nav-buttons>
    <ion-content class="padding">                
       <p ng-bind-html="programeventdetailstext" style="text-align: justify;
    text-justify: inter-word;"> </p>
    </ion-content>
    <div class="bar bar-footer" style="background:none;" ng-show="ifnotlogin">
        <h2 class="title">
            <img src="img/myappbuilder.png" alt="" style="width:110px;height:40px;"/>
        </h2>
    </div>
</ion-view>